
header {
  transition: background-color 0.7s ease;
}
footer {
  transition: background-color 0.7s ease;
}

nav {
  transition: background-color 0.7s ease;
}

div{
  transition: background-color 0.7s ease;
}

